html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    div.container
        div.row
            div.col-4.cell
                img.area(src=nasaUrls[0])
            div.col-4.cell
                img.area(src=nasaUrls[1])
            div.col-4.cell
                img.area(src=nasaUrls[2])

        div.row
            div.col-4.cell
                img.area(src=nasaUrls[3])
            div.col-4.cell
                img.area(src=nasaUrls[4])
            div.col-4.cell
                img.area(src=nasaUrls[5])

        div.row
            div.col-4.cell
                img.area(src=nasaUrls[6])
            div.col-4.cell
                img.area(src=nasaUrls[7])
            div.col-4.cell
                img.area(src=nasaUrls[8])
