html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    div
        div.container
            div.row
                div.col-md-auto.cell
                    img(src=nasaUrls[0])
                div.col-md-auto.cell
                    img(src=nasaUrls[1])
                div.col-md-auto.cell
                    img(src=nasaUrls[2])

            div.row
                div.col-md-auto.cell
                    img(src=nasaUrls[3])
                div.col-md-auto.cell
                    img(src=nasaUrls[4])
                div.col-md-auto.cell
                    img(src=nasaUrls[5])

            div.row
                div.col-md-auto.cell
                    img(src=nasaUrls[6])
                div.col-md-auto.cell
                    img(src=nasaUrls[7])
                div.col-md-auto.cell
                    img(src=nasaUrls[8])
